
#bar {
  position: absolute;
  bottom   : 40px;
  left  : 50%;
  width : 80px;
  height: 10px;
  background: black;
}

#ball {
    position: absolute;
    top  : 10%;
    left  : 50%;
    width : 20px;
    height: 20px;
    background: black;
    border-radius: 100%
}

#startGame {
    background: #eb94d0
    border: 0;
color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
    position: absolute;
    top  : 50%;
    left  : 50%;
    width : 200px;
    height: 30px;
}
